## ESG Research 
### Yfinance, Pandas, NumPy


# Installation
* pip install pandas
* pip install numpy
* pip3 install tqdm
* pip3 install seaborn
* pip install yfinance | pip3 install yfinance
* pip install git+https://github.com/rodrigobercini/yfinance.git

In [2]:
#Import necessary libraries
import pandas as pd
import numpy as np
import yfinance as yf
from pandas import Series, DataFrame
from pandas.tseries import offsets
import csv
import datetime
import csv
from csv import writer
from tqdm import tqdm
import os
from yahoofinancials import YahooFinancials

dt = datetime.datetime.today()

YEAR = dt.year
MONTH = dt.month
CURRENT_CSV_FILE = bool

ESG_COLUMNS = {'palmOil', 'controversialWeapons', 'gambling', 'socialScore', 'nuclear',
       'furLeather', 'alcoholic', 'gmo', 'catholic', 'socialPercentile',
       'peerCount', 'governanceScore', 'environmentPercentile',
       'animalTesting', 'tobacco', 'totalEsg', 'highestControversy',
       'esgPerformance', 'coal', 'pesticides', 'adult', 'percentile',
       'peerGroup', 'smallArms', 'environmentScore', 'governancePercentile',
       'militaryContract', 
       #'Stock'
}

ALL_COLUMNS = {'palmOil', 'peerCount', 'environmentScore', 'militaryContract',
       'esgPerformance', 'coal', 'peerGroup', 'furLeather', 'gambling',
       'animalTesting', 'catholic', 'nuclear', 'totalEsg', 'adult',
       'environmentPercentile', 'highestControversy', 'socialScore',
       'percentile', 'alcoholic', 'socialPercentile', 'pesticides',
       'governancePercentile', 'controversialWeapons', 'gmo', 'smallArms',
       'tobacco', 'governanceScore', 'Stock Ticker', 'Sector', 'Name'
}

USER_PATH = '/Users/MichaelCalmette/Documents/Finance Research/ESG Data Files/'
DATE_PATH = "esg-{}-{}.csv".format(dt.month, dt.year)
#DATE_PATH = "esg-2-2022.csv"

FILE_PATH = os.path.join(USER_PATH,DATE_PATH)

Create functions to see if file exists / if there is data in there

In [ ]:
f = open(FILE_PATH, 'w')
f.close

Need to compare data in esg-csv to all tickers

In [4]:
df = pd.read_csv('tickers.csv')
#all_data = pd.DataFrame(columns=ESG_COLUMNS)
# Only do if month is partially filled
all_data = pd.read_csv(FILE_PATH)

In [3]:
tic = df.sample(n=1)
ticker_sym = tic.loc[tic.index[0],'Symbol'] # get ticker name ex: 'AAPL'
print(ticker_sym)
ticker = yf.Ticker(ticker_sym).history(period="1mo")
ticker
#y = ticker.sustainability

#df1_transposed = y.T
#df1 = y
#df1

AMT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-18,228.820007,231.300003,226.710007,228.440002,2705400,0,0
2022-02-22,228.240005,230.899994,224.529999,228.369995,2521600,0,0
2022-02-23,229.889999,231.449997,226.729996,227.449997,1934000,0,0
2022-02-24,221.809998,232.619995,220.000000,231.750000,2699700,0,0
2022-02-25,231.699997,234.449997,226.789993,233.660004,2309500,0,0
2022-02-28,231.149994,231.399994,223.399994,226.869995,3690400,0,0
2022-03-01,228.000000,230.919998,226.679993,228.550003,2467300,0,0
2022-03-02,228.309998,232.770004,227.740005,231.000000,2160300,0,0
2022-03-03,233.479996,236.800003,231.520004,235.240005,2702600,0,0
2022-03-04,233.970001,239.229996,233.970001,238.279999,2396600,0,0
2022-03-07,237.119995,237.869995,231.029999,232.020004,1499200,0,0
2022-03-08,232.520004,236.649994,227.509995,227.970001,2058000,0,0
2022-03-09,231.649994,236.470001,231.250000,233.110001,1481200,0,0
2022-03-10,230.929993,233.479996,227.100006,232.800003,1300300,0,0
2022-03-11,235.309998,238.029999,234.679993,234.839996,1889000,0,0
2022-03-14,235.970001,237.160004,232.449997,234.929993,1652400,0,0
2022-03-15,236.630005,238.360001,234.080002,236.210007,1422300,0,0
2022-03-16,237.820007,240.419998,235.669998,239.630005,1902000,0,0
2022-03-17,238.490005,245.240005,238.490005,245.139999,1876100,0,0

Yahoo Financials to get additional stock data

In [ ]:
yahoo_financials = YahooFinancials('AAPL')
print(yahoo_financials.get_summary_data())

Test pulling a random ticker and getting sustainability information

In [4]:
tic = df.sample(n=1)
ticker_sym = tic.loc[tic.index[0],'Symbol'] # get ticker name ex: 'AAPL'
ticker = yf.Ticker(ticker_sym)
y = ticker.sustainability 
y

                                   Value
2022-2
palmOil                            False
controversialWeapons               False
gambling                           False
socialScore                        14.24
nuclear                            False
furLeather                         False
alcoholic                          False
gmo                                False
catholic                           False
socialPercentile                    None
peerCount                             45
governanceScore                     4.31
environmentPercentile               None
animalTesting                      False
tobacco                            False
totalEsg                           24.67
highestControversy                     2
esgPerformance                  AVG_PERF
coal                               False
pesticides                         False
adult                              False
percentile                         40.93
peerGroup              Consumer Services
smallArms                          False
environmentScore                    6.11
governancePercentile                None
militaryContract                   False

In [12]:
df1_transposed = pd.DataFrame()
for x in tqdm(range(58)):
    
    temp = all_data[['Stock Ticker','Sector','Name']].copy()
    df_test = df.merge(temp, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']
    tic = df_test.sample(n=1)
    #tic = df.sample(n=1)
    ticker_sym = tic.loc[tic.index[0],'Symbol'] # get ticker name ex: 'AAPL'
    ticker = yf.Ticker(ticker_sym)
    y = ticker.sustainability 
    df1 = y

    if df1 is None:
        pass
    else:
        df1_transposed = df1.transpose()
        #print(df1_transposed.columns)
        df1_transposed['Stock Ticker'] = ticker_sym
        df1_transposed['Sector'] = tic.loc[tic.index[0],'Sector']
        df1_transposed['Name'] = tic.loc[tic.index[0],'Name']

        #all_data = df1_transposed
        all_data = all_data.append(df1_transposed, ignore_index = True)
    #df1_transposed = None
print("There are: {} stocks left in the database".format(len(df_test)))

100%|██████████| 58/58 [10:54<00:00, 11.28s/it]

There are: 81 stocks left in the database

In [6]:
all_data

,gmo,adult,governancePercentile,nuclear,environmentPercentile,environmentScore,socialPercentile,coal,pesticides,furLeather,...,catholic,percentile,esgPerformance,animalTesting,gambling,alcoholic,controversialWeapons,Stock Ticker,Sector,Name
0,False,False,NaN,False,NaN,0.15,NaN,False,False,False,...,False,21.2,UNDER_PERF,False,False,False,False,ATVI,Communication Services,Activision Blizzard
1,False,False,NaN,False,NaN,3.89,NaN,False,False,False,...,False,6.1,UNDER_PERF,False,False,False,False,KIM,Real Estate,Kimco Realty
2,False,False,NaN,False,NaN,2.4,NaN,False,False,False,...,False,1.74,LAG_PERF,False,False,False,False,CDW,Information Technology,CDW
3,False,False,NaN,False,NaN,3.03,NaN,False,False,False,...,True,46.02,AVG_PERF,True,False,False,False,ABT,Health Care,Abbott Laboratories
4,False,False,NaN,False,NaN,8.73,NaN,False,False,False,...,False,27.59,AVG_PERF,False,False,False,False,PHM,Consumer Discretionary,PulteGroup
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,False,False,0,False,0,0.06,0,False,False,False,...,False,34.56,NaN,False,False,False,False,NLSN,Industrials,Nielsen Holdings
249,False,False,0,False,0,0.07,0,False,False,False,...,False,1.87,NaN,False,False,False,False,RHI,Industrials,Robert Half International
250,False,False,0,False,0,17.86,0,False,True,False,...,False,85.34,LEAD_PERF,True,False,False,False,FMC,Materials,FMC Corporation
251,False,False,0,False,0,1.49,0,False,False,False,...,False,26.33,NaN,False,False,False,False,BLK,Financials,BlackRock
252,False,False,None,False,None,3.55,None,False,False,False,...,False,48.04,AVG_PERF,False,True,False,False,WYNN,Consumer Discretionary,Wynn Resorts

Make sure there are no duplicates

In [9]:
s = len(all_data)
print(all_data.shape)
all_data = all_data.drop_duplicates()
dropped=len(all_data) - s
print("{} duplicates have been dropped".format(dropped))

(271, 30)
0 duplicates have been dropped

In [13]:
all_data.shape

(271, 30)

In [12]:
all_data['Stock Ticker'].value_counts()

AOS     2
NCLH    2
WFC     2
XOM     2
EQR     2
       ..
COST    1
MCK     1
CTAS    1
HON     1
VNO     1
Name: Stock Ticker, Length: 251, dtype: int64

In [75]:
if os.stat(FILE_PATH).st_size == 0:
    CURRENT_CSV_FILE = 0
    print('ESG File is empty')
    f = open(FILE_PATH, 'w')
    f.close

    with open(FILE_PATH, 'a', newline='') as f_object: 
        writer_object = writer(f_object) # Pass the CSV  file object to the writer() function
        writer_object.writerow(all_data) # Pass the data in the list as an argument into the writerow() function
        f_object.close()
    print('Column names have been entered.')

else:
    CURRENT_CSV_FILE = 1
    print('ESG File has column headers.')
    all_data.to_csv(FILE_PATH, mode='a', index=False, header=False)
    print('ESG Data has been entered.')

ESG File has column headers.
ESG Data has been entered.